<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <h1>Welcome to Index PAGE!</h1>

    <hr>

    <div sec:authorize="isAnonymous()" class="row">
        <div class="col-lg-3">
            <a th:href="@{/login}"
               class="btn btn-outline-primary">Sing in</a>
        </div>
        <div class="col-lg-3">
            <a th:href="@{/registration}"
               class="btn btn-outline-secondary">Regisrtration</a>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-3">
            <form sec:authorize="isAuthenticated()" action="#" th:action="@{/logout}" method="post">
                <button class="btn btn-dark" type="submit">LOG OUT</button>
            </form>
        </div>
        <div class="col-lg-3">
            <a sec:authorize="hasAnyRole('ADMIN', 'USER')" th:href="@{/user}"
               class="btn btn-outline-success">USER PAGE</a>
        </div>
        <div class="col-lg-3">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}"
               class="btn btn-outline-danger">ADMIN</a>
        </div>
    </div>

</div>
</body>
</html>